<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEPEN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <section th:replace="fragments/nav::nav">

    </section>
    <section id="">
        <div class="contenedor-formulario container">

            <form th:action="@{/inscripcion-carrera}" th:object="${carrera}" method="post" enctype="multipart/form-data"
                name="matricula" class="formulario form-control">
                <h2>Inscripción a Carrera</h2>
                <label>Carrera:</label>
                <select name="carreraId" class="form-control">
                    <option disable>---- Seleccione una carrera ----</option>
                    <option th:each="carrera : ${carreras}" th:value="${carrera.id}" th:text="${carrera.carrera}">
                    </option>
                </select>
                <br>

                <label>Turno:</label>
                <select name="turnoId" class="form-control">
                    <option disable>---- Seleccione un turno ----</option>
                    <option th:each="turno : ${turnos}" th:value="${turno.id}" th:text="${turno.nombreTurno}"></option>
                </select>
                <br>
                <label>Modalidad:</label>
                <select name="modalidadId" class="form-control">
                    <option disable>---- Seleccione una modalidad ----</option>
                    <option th:each="modalidad : ${modalidades}" th:value="${modalidad.id}"
                        th:text="${modalidad.nombreModalidad}"></option>
                </select>
                <br>
                <input type="submit" value="Registrar" class="boton form-control">
            </form>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>